<header class="heads">
  <nav class="nav-bar">
    <!-- <div class="create-and-profile"> -->
      <span class="shorties-link">All Stories</span>
      <span class="create" hidden>Create your story</span>
      <span class="profile" hidden>My profile</span>
      <span id="logout" hidden>logout</span>
    <!-- </div> -->
  </nav>
</header>
