<header class="heads">
  <nav class="nav-bar">
    <span class="shorties-link">Shorties</span>
    <div class="create-and-profile">

      <span class="create">Create your story</span>
      <span class="profile">My profile</span>
    </div>
  </nav>
</header>
