<header class="heads">
  <nav class="nav-bar">
    <a class="shorties-link" href="/urls">Shorties</a>
    <div class="create-and-profile">
      <a class="create" href="/urls">Create your story</a>
      <a class="profile" href="/views/profile.ejs">My profile</a>
    </div>
  </nav>
</header>
