<header class="heads">
  <nav class="nav-bar">
    <span class="shorties-link">Shorties</span>
    <div class="create-and-profile">

      <span class="create" hidden>Create your story</span>
      <span class="profile" hidden>My profile</span>
    </div>
    <button id="logout" hidden>logout</button>
  </nav>
</header>
