<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/styles/main.scss">
  <title>Document</title>
</head>
<body>
  <div class="main-div">
      <a href="/profile.html">My Profile</a>
    <h1 class="story-title">Title of the selected story</h1>
    <h2 class="author-name">Author of selected story</h2>
    <div class="story-original">
      <p class="story-original-text">
        The story will go here. The story will go here. The story will go here. The story will go here. The story will go here. The story will go here. The story will go here. The story will go here. The story will go here. The story will go here. The story will go here. The story will go here. The story will go here. The story will go here. The story will go here. The story will go here. The story will go here. The story will go here.
      </p>
    </div>
    <div class="button-div">
      <div class="story-status-div">
        <p class="story-status">Status: (In Progress/Completed)</p>
      </div>
      <button class="submit-button">Complete</button>
        <div class="story-addition">
          <p class="story-addition-text">
            Addition to story. Addition to story. Addition to story. Addition to story. Addition to story. Addition to story. Addition to story. Addition to story. Addition to story. Addition to story. Addition to story. Addition to story. Addition to story. Addition to story.
          </p>
          <div class="acceptance-button">
            <button class="button-accept">Accept</button>
            <button class="button-decline">Decline</button>
          </div>
        </div>
    </div>
  </div>
</body>
</html>
