<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.scss">
  <title>Document</title>
</head>
<body>
  <h1>My Shorties</h1>
  <div class="multi-story-container">
    <div class="single-story-container">
      <p>
        This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story.
      </p>
      <p>Status: Complete</p>
    </div>
    <div class="single-story-container">
      <p>
        This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story.
      </p>
      <div class="in-progress">
        <p>Status: In Progress</p>
        <button class="complete-button">complete</button>
      </div>
    </div>
    <div class="single-story-container">
      <p>
        This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story.
      </p>
      <div class="in-progress">
        <p>Status: In Progress</p>
        <button class="complete-button">complete</button>
      </div>
    </div>
    <div class="single-story-container">
      <p>
        This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story.
      </p>
      <p>Status: Complete</p>
    </div>
    <div class="single-story-container">
      <p>
        This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story.
      </p>
      <p>Status: Complete</p>
    </div>
    <div class="single-story-container">
      <p>
        This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story.
      </p>
      <p>Status: Complete</p>
    </div>
    <div class="single-story-container">
      <p>
        This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story.
      </p>
      <p>Status: Complete</p>
    </div>
    <div class="single-story-container">
      <p>
        This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story. This is my story.
      </p>
      <p>Status: Complete</p>
    </div>
  </div>
</body>
</html>
