body {
  font-family: fantasy;
}

.all {
  min-height: 100vh;
  color: rgb(105, 105, 105);
  background-image: url(/images/freddy-castro-u3ajSXhZM_U-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;

  // FLEX
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  height: 5px;
  margin-bottom: 3rem;
}

.hidden {
  display: none;
}

.heads {
  background-color: rgb(105, 105, 105);
  border-bottom: 3px solid darkgrey;
  color: rgb(245, 196, 196);
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 2rem;
  span {
      cursor: pointer;
    }
  }

.shorties-link, .create, .profile {
  padding-top: 0.3rem;
}

.story {
  border: 3px solid darkgrey;
  border-radius: 25px;
  margin: 2rem;
  background-color: rgb(245, 196, 196);
  color: rgb(105, 105, 105);
}

.all-box-content {
  margin: 1rem;
}

.create-your-story {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.story-head,
.label-and-text {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cancel,
.submit {
  margin: 1rem;
}

.form-content {
  width: 35rem;
  outline: none;
  border: 3px solid darkgrey;
  border-radius: 15px;
  background-color: rgb(245, 196, 196);
  color: rgb(105, 105, 105);
}

textarea {
  padding: 1rem;
  caret-color: white;
}

input {
  outline: none;
  border: 3px solid darkgrey;
  border-radius: 25px;
  background-color: rgb(245, 196, 196);
  text-align: center;
  color: rgb(105, 105, 105);
  padding: 0.5rem;
  caret-color: white;
}

button {
  background-color: rgb(105, 105, 105);
  color: rgb(245, 196, 196);
  border-radius: 15px;
  padding: 0.5rem;
  border: 3px solid darkgrey;
  cursor: pointer;
}

button:hover {
  background-color: darkgrey;
}
