body {
 height: 1000px;
 font-family: fantasy;
}

a {
  color: black;
}

a:hover {
  color: red;
}

a:focus {
  color: green;
}

main {
  display: flex;
  flex-direction: column;
}

.intro {
  height: 450px;
  color: white;
  background-image: url(/images/freddy-castro-u3ajSXhZM_U-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  // FLEX
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  height: 5px;
}


.stories-container{
  display: flex;
  flex-direction: column;
  border: 2px;
  border-style: solid;
  justify-content: start;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
  gap: 75px
}

.story {

  background-color: rgb(26, 121, 162);
  width: 75%;
  height: auto;
  min-height: 150px;
  max-height: 250px;
  overflow-y: auto;
}


.heads {
  background-color: lightgrey;
  border-bottom: 3px solid darkgrey;
  color: black;
  span {
    cursor: pointer;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
}

.create, .profile, .shorties-link {
  text-decoration: none;

}

.create {
  padding-right: 2.5rem;
}

.shorties-link {
  font-size: 1.5rem;
}

// *********************
// CSS for Profile.ejs

body {
  font-family: fantasy;
  background-image: url(/images/freddy-castro-u3ajSXhZM_U-unsplash.jpg);
  background-size: 1440px;
}

h1 {
  margin: 5rem;
  font-size: 3rem;
}

.multi-story-container {
  display: flex;
  flex-direction: column;

  width: 50rem;
  margin: 3rem;
}

.single-story-container {
  border: 1px solid black;
  margin: 1rem;
  border-radius: 25px;
  background-color: white;
}

p {
  padding: 1rem;
}

.in-progress {
  display: flex;
  justify-content: space-between;
}

.complete-button {
  margin: 2rem;
  height: 2rem;
}

// **********************

// CSS for Contributions

body {
  font-family: fantasy;
  background-image: url(/images/freddy-castro-u3ajSXhZM_U-unsplash.jpg);
  background-size: cover;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 4rem;
}

.profile-button {
  margin-left: 80rem;
  font-family: Arial, Helvetica, sans-serif;
}

.author-name {
  margin-top: 3rem;
}

.story-original {
  background-color: white;
  border-radius: 25px;
  margin-top: 2rem;
  width: 50rem;
  font-family: Arial, Helvetica, sans-serif;
}

.story-original-text {
  padding: 1rem;
}

.button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-status {
  justify-content: flex-end;

  margin: 1rem;
}

.story-status-div {
  margin-top: 1rem;
  background-color: white;
  border-radius: 25px;
}

.submit-button {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.story-addition {
  margin-top: 3rem;
  width: 60rem;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  border-radius: 25px;
  background-color: white;
}

.story-addition-text {
  padding: 1rem;
}

.acceptance-button {
  display: flex;
  justify-content: flex-end;

  margin-top: 2rem;
}

.button-accept, .button-decline {
  margin: 1rem;
}
