body {
 height: 1000px;
 font-family: fantasy;
}

a {
  color: black;
}

a:hover {
  color: red;
}

a:focus {
  color: green;
}

main {
  display: flex;
  flex-direction: column;
}

.intro {
  height: 450px;
  color: white;
  background-image: url(/images/freddy-castro-u3ajSXhZM_U-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  // FLEX
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  height: 5px;
}


.story-container{
  display: flex;
  flex-direction: column;
  border: 2px;
  border-style: solid;
  justify-content: start;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
  gap: 75px
}

.story-box {

  background-color: rgb(26, 121, 162);
  width: 75%;
  height: auto;
  min-height: 150px;
  max-height: 250px;
  overflow-y: auto;
}


.heads {
  background-color: lightgrey;
  border-bottom: 3px solid darkgrey;
  color: black;
  span {
    cursor: pointer;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
}

.create, .profile, .shorties-link {
  text-decoration: none;

}

.create {
  padding-right: 2.5rem;
}

.shorties-link {
  font-size: 1.5rem;
}
