body {
  font-family: fantasy;
  background-image: url(/images/freddy-castro-u3ajSXhZM_U-unsplash.jpg);
  background-size: 1440px;
}

h1 {
  margin: 5rem;
  font-size: 3rem;
}

.multi-story-container {
  display: flex;
  flex-direction: column;

  width: 50rem;
  margin: 3rem;
}

.single-story-container {
  border: 1px solid black;
  margin: 1rem;
  border-radius: 25px;
  background-color: white;
}

p {
  padding: 1rem;
}

.in-progress {
  display: flex;
  justify-content: space-between;
}

.complete-button {
  margin: 2rem;
  height: 2rem;
}
